@using eKorpa.ViewModels

@model ArtikalIndexVM

@{
}

<form asp-action="Index" asp-controller="Artikal">
    <input name="querry" placeholder="npr: majica" />
    <button type="submit" class="btn btn-dark">Pretraži</button>
</form>

<div id="containerArtikala" style="display: flex; justify-content: space-evenly; flex-wrap:wrap">
    @if (Model.rows.Count == 0)
    {
        <h1>Nema rezultata</h1>
    }
    @foreach (var item in Model.rows)
    {
        <div class="artikalCopy" style="border: double red 1px; width: 300px; margin:10px; cursor:pointer; text-align:center">
            <div onclick="OtvoriDetaljeArtikla(@item.ID)">
                <label> ID </label>
                <span>@item.ID</span> <br />
                <label> Naziv artikla </label>
                <span>@item.NazivArtikla</span><br />
                <label> Kategorija </label>
                <span>@item.Kategorija</span><br />
                <label> Slika</label>
                @foreach (var slike in item.Slika)
                {
                    @if (slike != null)
                    {
                        var base64 = Convert.ToBase64String(slike);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgsrc" alt="Alternate Text" /><br />
                    }
                }
            </div>
            <label> Naziv prodavača </label>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
========================================================================
                <span>@item.ImeProdavaca</span><br />
                <label> Cijena artikla </label>
                <span>@item.Cijena</span><br />
            </div>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> cijena
            <a href="/Profil/Index?KorisnikID=@item.ProdavacId">@item.ImeProdavaca</a><br />
            <a href="/Artikal/Dodaj?ArtikalID=@item.ID">Uredi</a>
            <a href="/Artikal/Obrisi?ArtikalID=@item.ID">Obrisi</a><br />
            <a href="/Korpa/Dodaj?ArtikalID=@item.ID">Dodaj u korpu</a>
        </div>
    }

</div>

<a href="/Artikal/Dodaj" class="btn btn-secondary">Dodaj</a>

<style>
    body {
        background-color: rgb(45,45,45);
        color: lightcoral;
    }

        body a {
            color: lightblue;
        }
</style>

<script>
    function OtvoriProfilProdavaca(prodavacID) {
        var url = "/Profil/Index?KorisnikID=" + prodavacID;
        window.open(url, '_self');
    }

    function OtvoriDetaljeArtikla(artikalID) {
        var url = "/Artikal/Detalji?ArtikalID=" + artikalID;
        window.open(url, '_self');
    }
        //function addRowHandlers() {
        //    var table = document.getElementById("containerArtikala");
        //    var rows = table.getElementsByTagName("artikalCopy");
        //    for (i = 0; i < rows.length; i++) {
        //        var currentRow = table.rows[i];
        //        var createClickHandler = function (row) {
        //            return function () {
        //                //var cell = row.getElementsByTagName("td")[0];
        //                var id = currentRow.innerHTML;
        //                url = "/Artikal/Detalji?ArtikalID=" + id;
        //                window.open(url, '_self');
        //            };
        //        };
        //        currentRow.onclick = createClickHandler(currentRow);
        //    }
        //}
        //window.onload = addRowHandlers();
</script>