<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eKorpa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://wrd.app.fit.ba/2018-19/fit-messagebox.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="header">

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navHeader">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img id="logo" src="~/images/logo.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1" style="display:flex;justify-content:right">
                            @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@

                            <li class="nav-item">


                                <form asp-action="Pretraga" asp-controller="Home" id="searchForma">
                                    <input id="searchInput" name="querry" placeholder="npr: majica" type="search">
                                    @*<button type="submit" ><i class="fa fa-search"></i></button>*@
                                    <button type="submit" style="background-color:transparent;border:none"><i class="fa fa-search"></i></button>

                                </form>

                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <div class="navBar">
                <ul>
                    <li> <a href="/Home">Početna</a></li>
                    <li> <a href="/Artikal/IndexKateg?Kategorija=Žene">Žene</a></li>
                    <li> <a href="/Artikal/IndexKateg?Kategorija=Muškarci">Muškarci</a></li>
                    <li> <a href="/Artikal/IndexKateg?Kategorija=Djeca">Djeca</a></li>
                    <li> <a href="/Artikal/IndexKateg?Kategorija=Ostalo">Ostalo</a></li>
                    <li> <a href="/Ponuda/Index">Ponude</a></li>
                    <li> <a href="/Kontakt/Index">Kontakt</a></li>
                </ul>

            </div>



        </header>
    </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <div class="container">
    </div>

    <div id="footer">


        @*<footer
            <div class="container">
                &copy; 2021 - eKorpa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="https://wrd.app.fit.ba/2018-19/fit-messagebox.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>

</body>
</html>

<link href="~/css/Layout.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700">

<style>
    .kontaktBtn {
        float: right;
        margin-top: -38px;
        text-decoration: none;
        color: white;
    }

    #footer {
        width: 100%;
        color: black;
        /*text-align: center;*/
        position: relative;
        bottom: 0px;
    }
</style>

<script>

    var pSuccess = '@TempData["porukaSuccess"]';
    var pInfo = '@TempData["PorukaInfo"]';
    var pWarning = '@TempData["PorukaWarning"]';
    var pError = '@TempData["PorukaError"]';

    porukaSuccess(pSuccess);
    porukaInfo(pInfo);
    porukaWarning(pWarning);
    porukaError(pError);

    function BlurLayout() {
        document.getElementById("header").style.filter = "blur(8px)";
        document.getElementById("footer").style.filter = "blur(8px)";
    }

    function DisableBlur() {
        document.getElementById("header").style.filter = "none";
        document.getElementById("footer").style.filter = "none";
    }

    window.onload = Provjera();

    function Provjera() {
        var urlGetID = "/Profil/GetID";
        var oznaka = document.getElementById("oznaka");
        var oznakaPostavke = document.getElementById("postavke");

        $.get(urlGetID, function (odg1) {
            var url = "/Profil/Provjera?KorisnikID=" + odg1;
            $.get(url, function (odg2) {
                if (odg2 == false) {
                    if (oznakaPostavke != null) {
                        oznakaPostavke.style.display = "inline";
                    }
                    oznaka.style.display = "inline";
                }
                else {
                    if (oznakaPostavke != null) {
                        oznakaPostavke.style.display = "none"
                    }
                    oznaka.style.display = "none";
                }
            })
        })

        var oznakaKupljeni = document.getElementById("nemaDojmaKupljeni");

        $.get(urlGetID, function (odg1) {
            var url = "/Profil/ProvjeraDojamKupac?KorisnikID=" + odg1;
            $.get(url, function (odg2) {
                if (odg2 == false) {
                    if (oznakaKupljeni != null) {
                        oznakaKupljeni.style.display = "inline";
                    }
                    oznaka.style.display = "inline";
                }
                else {
                    if (oznakaKupljeni != null) {
                        oznakaKupljeni.style.display = "none";
                    }
                    oznaka.style.display = "none";
                }
            })
        })

        var oznakaProdani = document.getElementById("nemaDojmaProdani");
        $.get(urlGetID, function (odg1) {
            var url = "/Profil/ProvjeraDojamProdavac?KorisnikID=" + odg1;
            $.get(url, function (odg2) {
                if (odg2 == false) {
                    if (oznakaProdani != null) {
                        oznakaProdani.style.display = "inline";
                    }
                    oznaka.style.display = "inline";
                }
                else {
                    if (oznakaProdani != null) {
                        oznakaProdani.style.display = "none";
                    }
                    oznaka.style.display = "none";
                }
            })
        })
    }

    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/myhub").build();

    connection.on("prijemPoruke", function (user, message) {
        porukaWarning("hello " + user + ": " + message);
        //setTimeout(function () { window.location.reload(); }, 3000);
        Provjera();
    });

    connection.start().then(function () {
        console.info("started signalR hub");

    }).catch(function (err) {
        return console.error(err.toString());
    });

</script>

