@model eKorpa.ViewModels.KorpaDetaljiVM

@if (Model != null)
{
    <div class="list-group">
        @foreach (var item in Model.rows)
        {
            <a href="#" class="list-group-item list-group-item-action flex align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Naziv artikla: @item.NazivArtikla</h5>
                    <small>Kategorija: @item.Kategorija</small>
                </div>
                <p class="mb-1">
                    @if (item.Slika.Count == 0)
                    {
                        <h1>Nema slike</h1>
                    }

                    @for (int i = 0; i < item.Slika.Count; i++)
                    {
                        @if (item.Slika[i] != null && item.Thumbnail[i] == 1)
                        {
                            var base64 = Convert.ToBase64String(item.Slika[i]);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgsrc" alt="Alternate Text" /><br />
                        }
                    }
                    Kolicina: @item.Kolicina
                    Cijena: @item.Cijena
                    <a href="/Korpa/Obrisi?KorpaID=@item.ID" class="list-group-item list-group-item-action flex-row-items-start">Obrisi</a>
                </p>
                </a>

        }
    </div>
}
<a href="/Artikal/Index" class="btn btn-secondary">Artikli</a>
<a href="/Artikal/Index" class="btn btn-secondary">Naruči i plati</a>
<style>
    body {
        background-color: rgb(45,45,45);
        color: lightcoral;
    }

        body a {
            color: lightblue;
        }

    img {
        width: 200px;
    }
</style>
