@using eKorpa.ViewModels
@model ProfilIndexVM


<div>
    <label> ID </label>
    <span>@Model.ID</span> <br />
    <label> Ime </label>
    <span>@Model.Ime</span> <br />
    <label> Prezime </label>
    <span>@Model.Prezime</span> <br />
    <label> Email </label>
    <span>@Model.Email</span> <br />
    <label> BrojTelefona </label>
    <span>@Model.BrojTelefona</span> <br />
</div>
<br />
<a href="/Artikal/Index">Artikli</a>
