@using eKorpa.ViewModels
@using System.Security.Claims
@model ArtikalIndexVM
    Prodani artikli :

@{
    if (Model.Layout == false)
    {
        Layout = null;
    }
    var claimsIdentity = User.FindFirstValue(ClaimTypes.NameIdentifier);
}


<div id="containerArtikala">
    @if (Model.rows.Count == 0)
    {
        <h1>Nema rezultata</h1>
    }
    @foreach (var item in Model.rows)
    {
<div class="artikalCopy">
    <div onclick="OtvoriDetaljeArtikla(@item.ID)">
        @if (item.Slika.Count == 0)
        {
            <h1>Nema slike</h1>
        }

        @for (int i = 0; i < item.Slika.Count; i++)
        {
            @if (item.Slika[i] != null && item.Thumbnail[i] == 1)
            {
                var base64 = Convert.ToBase64String(item.Slika[i]);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgsrc" alt="Alternate Text" /><br />
            }
        }
        <span class="naziv">@item.NazivArtikla</span><br />
        <span class="kategorija">@item.Kategorija</span><br />
        <h4 class="cijena">Cijena  @item.Cijena KM</h4>
        @if (item.Cijena != item.CijenaSaPopustom)
        {
            <h4 class="cijena">Cijena sa popustom @item.CijenaSaPopustom KM</h4>
        }
        <span>@item.Brend </span><br />
    </div>

    @if (item.ProdavacOstavioDojam == true)
    {
        if (claimsIdentity == item.ProdavacId)
        {
            <a href="/Dojam/DojamProdavaca?RejtingID=@item.RatingID">Vaš dojam</a>
        }
        else
        {
            <a href="/Dojam/DojamProdavaca?RejtingID=@item.RatingID">Dojam prodavača</a>
        }

    }
    else
    {
        if (claimsIdentity == item.ProdavacId)
        {
            <a href="/Dojam/OstaviDojam?RejtingID=@item.RatingID&TipKorisnika=prodavac">Ostavi dojam</a>
        }
        else
        {
            <p>Prodavač nije ostavio dojam</p>
        }
    }
    <br />

    @if (item.KupacOstavioDojam == true)
    {
            <a href="/Dojam/DojamKupca?RejtingID=@item.RatingID">Dojam kupca</a>
    }
    else
    {
            <p>Kupac nije ostavio dojam</p>
    }


    <label>Postavio : </label>
    <a href="/Profil/Index?KorisnikID=@item.ProdavacId">@item.ImeProdavaca</a><br />

</div>
    }
</div>
<div id="yith-wcwl-popup-message" style="margin-left: -298px; display: none;"><div id="yith-wcwl-message">Dodali ste artikl na listu želja!</div></div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
@*<link href="/css/ArtikalIndex.css" rel="stylesheet" />*@


<script>
    function OtvoriProfilProdavaca(prodavacID) {
        var url = "/Profil/Index?KorisnikID=" + prodavacID;
        window.open(url, '_self');
    }

    function OtvoriDetaljeArtikla(artikalID) {
        var url = "/Artikal/Detalji?ArtikalID=" + artikalID;
        window.open(url, '_self');
    }
    function klik() { document.getElementById("yith-wcwl-popup-message").style.display = "block"; }
</script>